@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <h1>Test</h1>
        @ViewBag.bonjour
        @ViewBag.ok
        <p>First paragraph to push</p>

    </div>
</body>
</html>
