@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <h1>Test</h1>
<<<<<<< HEAD
        @ViewBag.bonjour
=======
        @ViewBag.ok
>>>>>>> f004de593c66548cc502b7939431043dbb704d6f
    </div>
</body>
</html>
